.genesSelection {
  	.validationStatus {
		cursor: default;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		width: 555px;
		padding-top: 5px;
		span.icon {
			text-align: center;
			margin-right: 4px;
			width: 16px;
			height: 16px;
			line-height: 17px;
		}
		span.pendingMessage,
		span.oqlNotice,
		span.errorMessage {
			font-size: small;
		}
		div.validBubble,
		div.invalidBubble {
			color: #fff;
			display: flex;
			align-items: center;
			margin: 2px 2px 2px 0;
			padding: 5px 10px;
			border-radius: 2px;
			span.icon {
				color: #fff;
				line-height: 17px;
			}
		}
		div.invalidBubble {
			background: $redError;
		}
		div.validBubble {
			background: $greenSuccess;
		}
		div.suggestionBubble {
			color: rgba(0, 0, 0, 0.5);
			cursor: pointer;
			display: flex;
			align-items: center;
			margin: 2px;
			padding: 5px 10px;
			background-color: $lightGrey;
			border-radius: 2px;
			&:hover {
				background-color: $mediumGrey;
			}
			span.icon {
				color: $darkGrey;
				line-height: 17px;
			}
			span.noChoiceLabel {
				font-weight: normal;
			}
			span.singleChoiceLabel {
				font-weight: bold;
			}
			span.multiChoiceLabel {
				font-weight: normal;
			}
			div:global(.Select) {
				width: 140px;
				margin-left: 4px;
				float: left;
			}
		}
  	}

}
